#jinja2: keep_trailing_newline: True
globalTTL: {{ llamaswap_globalttl }}
models:
{% for model in llamaswap_models %}
  {{ model.id | lower }}:
    name: {{ model.name }}
    cmd: |
      {{ model.server | default('llama-server') }}
      --batch-size {{ model.batch_size | default(2048) }}
      --cache-type-k {{ model.cache_type_k | default('q8_0') }}
      --cache-type-v {{ model.cache_type_v | default('q8_0') }}
      --cors-origins {{ model.cors_origins | default('localhost') }}
{% if model.cpu_moe is defined and model.cpu_moe %}
      --cpu-moe
{% endif %}
      --ctx-size {{ model.context_size }}
{% if model.device is defined %}
      --device {{ model.device }}
{% endif %}
      --flash-attn {{ model.flash_attn | default('on') }}
      --jinja
{% if model.lazy_mode is defined %}
      --lazy-mode {{ model.lazy_mode }}
{% endif %}
{% if model.load_mode is defined %}
      --load-mode {{ model.load_mode }}
{% endif %}
      --min-p {{ model.min_p }}
{% if model.mmproj is defined %}
      --mmproj {% if model.directory is defined %}{{ model.directory }}/{% endif %}{{ model.mmproj }}
{% endif %}
      --model {% if model.directory is defined %}{{ model.directory }}/{% endif %}{{ model.model }}
{% if model.cpu_moe_layers is defined %}
      --n-cpu-moe {{ model.cpu_moe_layers }}
{% endif %}
      --n-gpu-layers {{ model.gpu_layers | default("all") }}
      --parallel {{ modell.parallel | default(1) }}
      --presence-penalty {{ model.presence_penalty }}
      --port ${PORT}
{% if model.reasoning_effort is defined %}
      --reasoning-effort {{ model.reasoning_effort }}
{% endif %}
      --repeat-penalty {{ model.repeat_penalty }}
{% if model.draft_model is defined %}
      --spec-draft-model {% if model.directory is defined %}{{ model.directory }}/{% endif %}{{ model.draft_model }}
{% endif %}
{% if model.draft_n_gpu_layers is defined %}
      --spec-draft-ngl {{ model.draft_n_gpu_layers }}
{% endif %}
{% if model.draft_n_max is defined %}
      --spec-draft-n-max {{ model.draft_n_max }}
      --spec-type {{ model.draft_type | default('draft-mtp') }}
{% endif %}
      --temp {{ model.temperature }}
{% if model.threads is defined %}
      --threads {{ model.threads }}
{% endif %}
      --top-p {{ model.top_p }}
      --top-k {{ model.top_k }}
      --ubatch-size {{ model.ubatch_size | default(512) }}
{% if model.env is defined %}
    env:
{% for env in model.env %}
      - "{{ env }}"
{% endfor %}
{% endif %}
{% endfor %}
